.statistics-container{
    background-color: #EF4040;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1540px; 
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    padding: 1rem;
}
@media (max-width: 800px) {
    .statistics-container{
    font-size: 1rem;
    font-weight: 500;
    }
}