.what-we-do{
padding: 3rem 0;
text-align: center;
font-size: 2.8125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
max-width: 1540px; 
    margin: 0 auto;
    
}
.what-we-do-para{
    text-align: center;
    padding: 0 15vw;
    line-height: 2rem;
    max-width: 1540px; 
    margin: 0 auto;
}
.card-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
.card-box{
    width: 14rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card-box:hover{
    background-color: #ffefef9a;
}
.card-box div{
    display: flex;
    justify-content: center;
}
.card-box div img{
    height: 8rem;
    width: 8rem;
    padding: 1rem;
}
@media (max-width: 800px) {
    
    .what-we-do{
        font-size: 1.5125rem; 
        }
    .what-we-do-para{
    line-height: 1.5rem;
    padding: 0 5vw;
    text-align: justify;
    font-size: 0.8rem;
        
    }
    .card-container{
        flex-wrap: wrap;
    }
    .card-box div img{
        height: 6rem;
        width: 6rem;
        padding: 1rem;
    }
    .card-box{
        width: 7rem;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}