/* Title CSS */
.title-container{
    background-image: url('/src/assets/title-banner.jpg');
    background-size: bottom;
    text-align: center;
    padding: 7rem 0;
    color: white;
    
}
a{
    /* text-decoration: none; */
    color: white;
}
a:hover{
    /* text-decoration: none; */
    color: rgb(0, 4, 255);
}
.title-container h3{
    font-size: 2.8125rem;
font-style: normal;
font-weight: 700;
}
.yellow-text{
    color: #EF4040;
}
::selection {
    background: #EF4040;
  }
  .privacy-policy, .sitemap{
    margin: 5vw;
    width: 65vw;
  }